

  <%- include('./partials/navbar') %>



  <div class="container">

    
<div class="row mt-4">
  <!-- Categories -->

  
  <!-- Items -->
  <div class="col-lg-8 col-md-12 col-sm-12 mb-3">

          <% cartItems.forEach(item => { %>
          <div class="cart-item row">
            <div class="col-1 mr-1">
              <img src="/uploads/<%= item.image %>" class="img-fluid rounded" alt="<%= item.product_name %>">
            </div>
            <div class="cart-item-details col-7 ml-4">
              <h5 class="m-0"><%= item.product_name %></h5>
              <p class="m-0">Subtotal: ₦<%= item.subtotal.toFixed(2) %></p>
            </div>
            <div class="cart-item-actions col-4 ml-4">
              <button class="btn btn-danger" onclick="updateQuantity(<%= item.product_id %>, -1)">-</button>
              <span class="mx-2"><%= item.quantity %></span>
              <button class="btn btn-success" onclick="updateQuantity(<%= item.product_id %>, 1)">+</button>
            </div>
          </div>
          <% }); %>
    </div>

 
    <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
      <div class="card">
        <div class="card-header mb-3">cart summary</div>
      
        <div class="p-2">
      
      
        <div class="row">
          <div class="col-6 m-0">Subtotal</div>
          <div class="col-6 m-0">₦<%= totalSubtotal%></div>
          <div class="col-6 m-0">Shipping</div>
          <div class="col-6 m-0">₦<%=shippingFee%></div>
      
            <hr>
          <p class="col-6 m-0">Total Amount:</p>
          <div class="col-6 m-0">₦<%=totalSum%></div>
        </div>
        
      
          <a href="/user/order/<%= cartItems[0].user_email %>" class=" mt-4 btn btn-primary">Place Order</a>
          <a href="/user/" class=" mt-4 btn btn-primary">Clear cart</a>
        </div>
        </div>

        <div class="card mt-4">
          <div class="card-header mb-3">Usable information</div>
        
          <div class="p-2">
          <div class="row">
            <div class="col-6 m-0">Phone</div>
            <div class="col-6 m-0"><%= userData.Phone%></div>
            <div class="col-6 m-0">Address</div>
            <div class="col-6 m-0"><%= userData.Address%></div>
            
            
            <p class="col-6 m-0">State:</p>
            <div class="col-6 m-0"><%= userData.state%></div>
            <p class="col-6 m-0">LGA:</p>
            <div class="col-6 m-0"><%= userData.lga%></div>
            <p class="col-6 m-0">Land Mark:</p>
            <div class="col-6 m-0"><%= userData.land_mark%></div>

          </div>
          
        
     
          </div>
          </div>
    </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <%- include('./partials/footer') %>
  <script>
    function updateQuantity(productId, change) {
      fetch('/updateCartItem', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ productId, change })
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {

          console.log(data);
          // alert('Error updating cart item');
          // return 
          location.reload();
        } else {
          alert('Failed to update cart item');
        }
      })
      .catch(error => {
        console.error('Error updating cart item:', error);
        alert('Error updating cart item');
      });
    }


  </script>






</div>