<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Content Wrapper -->
  <div id="content-wrapper">
    <!-- Main Content -->
    <div id="content ">
      <!-- Topbar -->
      <%- include('./partials/navbar') %>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <%- include ('../partials/messages') %>

     <div class="container">
      <div class=" mt-4 mb-4 row" style="border: 2px solid #ffdd00; height: 100px; border-radius: 4px; padding: 10px;" >
        <!-- <p class="text-warning">Order will arive in 40 minutes</p> -->
        <!-- <p class="">Your order is </p> -->
        <div class="col-lg-4">
          <p><%= newOrder[0].status %></p>
        </div>

        <div class="col-lg-4">
          <ul>
            <li>Ensure your phone lines are active</li>
            <li>Do not pay fee to the delivery agent</li>
          </ul>
        </div>
      </div>
     </div>

        <div class="container">
          <div class="row mt-4">

            <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
              <div class="mb-4">
                <!-- Card Header - Dropdown -->

                <!-- Card Body -->
                <p class="text-uppercase text-primary">Item Ordered List</p>

                <table
                  class="table table-bordered"
                  width="100%"
                  cellspacing="0"
                >
                  <thead>
                    <tr>
                      <th>Image</th>
                      <th>Product Name</th>
                      <th>unit price</th>
                      <th>ST</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% newOrderProducts.forEach(function(data) {%>
                    <tr>
                      <td><img class="img-thumbnail" style="max-width: 40px;" src="/uploads/<%= data['image'] %>" alt="image"></td>
                      <td><%= data['name'] %></td>
                      <td><%= data['price_per_item'] %></td>
                      <td><%= data['subTotal'] %></td>

                      <!-- Display the expiry date directly -->

                      <% }) %>
                    </tr>
                  </tbody>
                </table>

                <div class="row">

                  <div class="col-6 text-primary">Applied Discount:</div>
                <div class="col-6 text-warning">0 %</div>
                <div class="col-6 text-primary">Shipping Fee:</div>
                <div class="col-6 text-warning"> <%= newOrder[0].shipping_fee%></div>
                <hr>
                <div class="col-6 text-primary">Total Paid:</div>
                <div class="col-6 text-warning"><%= totalSum %> </div>
                </div>
              </div>
            </div>


            <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
              <div class="mb-4">
                <!-- Card Header - Dropdown -->

                <!-- Card Body -->

                <p class="text-uppercase text-primary">Delivery Details</p>

                <div class="row mb-4">
               

                  <div class="col-6">My cell:</div>
                  <div class="col-6"><%= newOrder[0].customer_phone %></div>
                  <div class="col-6">Delivery Type:</div>
                  <div class="col-6"><%= newOrder[0].Delivery %></div>
                  <div class="col-6">Address:</div>
                  <div class="col-6"><%= newOrder[0].customer_address %></div>
                  <div class="col-6">Be Dlivered By:</div>
                  <div class="col-6"><%= newOrder[0].driver %></div>
                </div>
              </div>
            </div>

           
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
              <div class="mb-4">
                <p class="text-uppercase text-primary">Reference Info</p>

                <div class="row">
                  <div class="col-6">Sale Reference Id:</div>
                  <div class="col-6"><%= newOrder[0].sale_id %></div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
              <div class="mb-4">

                  <% if( newOrder[0].status == "incomplete" ){ %>
                    <form action="/user/cancel-order/<%= newOrder[0].sale_id %>" method="post">

                  <input type="hidden" name="_method" value="PUT">
                  <input name="_method" type="submit" value="cancel order" style="width: 100%;" class="btn btn-primary "/>
                  </form>
      
                  <% } else{ %>
      
                  <button
                    type="submit"
                    class="btn btn-secondary mt-4"
                    style="width: 100%"
                    disabled
                  >
                    no action avaliable
                  </button>
      
                  <% } %>

              </div>
            </div>


          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->


  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->


<br>
<br>
<br>
<br>

<%- include('./partials/footer') %>
<!-- Logout Modal-->
<%- include ('../modals/logout') %>
